*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: #CDCCCC;
    height: 55px;
    box-shadow: 0px 4px 4px #CBCBCB;
   
}
nav ul{
    margin-left: 400px;
    list-style-type: none;
}
nav li{
    float: left;   
}
nav a{
    text-decoration: none;
    display: block;
    padding: 20px 200px 0 20px;
    font-family: Nunito;
    font-size: medium;
    font-weight: bold;
    color: black;
}

h1{
    text-align: center;
    margin: 10px 0;
}

#auto{
    font-family: Nunito;
    color: #4D8200;
    font-size: 60px;
}

#aqua{
    font-family: Nunito;
    color:#0091B1;
    font-size: 60px;
}

img{
    width: 100%;
    height: 300px;
}

div.moisture, div.waterLevel{
    width: 400px;
    display: inline-block;
    font-size: 40px;
    /* border: 2px solid black; */
    margin: 50px 0 10px 200px;
    text-align: center;
    font-family: Nunito;
}

#moistureValue{
    
    font-weight: bold;
    /* font-size: 40px; */
}

.high {
    color: #4D8200;
}

.medium {
    color:rgb(236, 248, 0)
}

.low {
    color: red;
}

#WaterLevelValue{
    color:#0091B1;
    font-weight: bold;
    /* font-size: 40px; */
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #CDCCCC;
    height: 50px;
}

footer p{
    margin-top: 15px;
    font-size: small;
    font-family: Nunito;
    font-weight: bold;
}

#pd, #con{
    font-family: Nunito;
    text-align: center;
    margin: 60px 10px 40px 10px;
}

#desc{
    font-family: Nunito;
    margin: 10px 60px;
}

div.contributors ul{
    margin: 40px 200px 0 220px;
    list-style-type: none;
}

div.contributors li{
    display: inline;
    margin-left: 200px;
    font-family: Nunito;
    font-size: medium;
    font-weight: bold;
}

div.feedback{
    margin: 50px 400px 0 550px;
    font-family: Nunito;
    font-weight: bold;
}
td{
    padding: 5px 15px;
}

input{
    width: 220px;
}

input, textarea{
    padding: 4px;
    border: 1px solid rgb(130, 127, 127);
    border-radius: 5px;
}

#sub{
    background-color: #47aac1;
    color: white;
    width: 70px;
    font-size: medium;
}


